<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-title>Fog tube admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item>
          <ion-label>Reward point:</ion-label>
          <ion-input type="number" required name="points" [(ngModel)]="points" id="points"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label>version:</ion-label>
            <ion-input type="number" required name="version" [(ngModel)]="version" id="version"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label>message for update:</ion-label>
              <ion-input type="text" required name="message" [(ngModel)]="message" id="message"></ion-input>
            </ion-item>
        
            <ion-item>
                <ion-label>email:</ion-label>
                <ion-input type="email" required name="email" [(ngModel)]="email" id="email"></ion-input>
              </ion-item>
          
            
                <ion-item>
                    <ion-label>Application URl:</ion-label>
                    <ion-input type="text" required name="AppURl" [(ngModel)]="AppURl" id="AppURl"></ion-input>
                  </ion-item>
          <ion-button (click)="creatSetting(email,version,message,AppURl,points)">add</ion-button>
      </form>
</ion-content>
