button{
    padding: 5px;
   color: white;
    width: 90%;
    margin: 5%;
    text-transform: capitalize
}
.block{
    margin-top: 5px;    
    background: #B11414
}
.unblock{
    margin-top: 5px;    
    background: #0A868E
}