
td{
    max-width: 10% !important;
    max-height: 10% !important;
     overflow:hidden;
     font-size: 10px
  //  overflow: auto;
}
table{
    table-layout: fixed
}
button{
    padding: 5px;
    margin-top: 4%;
}
th{
    font-size: 8px
}

.table2{
margin-top: 10%;
}

button{
    background: #B11414;
    color: white;
    margin-right: 10%;
}