<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">     <ion-title>
      Add Offer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 

  <form>
    <ion-item>
      <ion-label>point:</ion-label>
      <ion-input type="number" required name="points" [(ngModel)]="points"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>cash:</ion-label>
        <ion-input type="number" required name="cash" [(ngModel)]="cash"></ion-input>
      </ion-item>
      <ion-button (click)="creatOffer(points , cash)">add</ion-button>
  </form>

  <ion-card class="main" *ngFor="let offer of AllOffers">
      <label class="left">
       {{ offer.point}} Points
        
      </label> 
      <label>
          {{ offer.cash}}$
      </label>
      <ion-button (click)="delete(offer.key)">delete</ion-button>
    </ion-card>
</ion-content>
