<ion-app>
    <!-- {{ message | async | json }} -->
    <!-- <div class="container">
      <h1>Send a Message</h1>
      <form ng-submit="send()">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input ng-model="title" type="text" class="form-control" id="subject" placeholder="Subject" required/>
        </div>
        <div class="form-group">
          <label for="contentMessage">Body Message</label>
          <textarea ng-model="message" class="form-control" placeholder="content message" required></textarea>
        </div>
        <button id="btnSend" type="submit" class="btn btn-primary btn-lg">Send</button>
      </form>
      <br/>
      <pre>{{console | json}}</pre>
      <pre ng-if="error" class="bg-danger">{{error}}</pre>
    </div> -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>
