ion-button{
    padding: 2px;
    margin-left: 15px;
}
.left{
    width:100%;
    float:left;
    text-align:left;
    }
// .right{
//     width:110px;
//     float:right;
//     text-align:right;
//     }
.main{
    width:90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
}
ion-card{
    padding: 10px;
}
label{
    width: 100%
}
.deleteAll{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: #B11414;
    color: white;
    padding: 4px;
    margin-bottom: 5%;
}