<ion-header>
  <ion-toolbar color="tertiary">     
    <ion-title>message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form">
    <ion-item>
      <ion-label>content:</ion-label>
      <ion-input type="text" required name="header" [(ngModel)]="header" id="header"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Link:</ion-label>
        <ion-input type="text" required name="body" [(ngModel)]="body" id="body"></ion-input>
      </ion-item>


  
      <ion-button (click)="creatmessage(header , body )">add</ion-button>
  </form>
  <ion-card class="main" *ngFor="let message of Allmessage">
    <label class="left">
      content:   {{ message.header}} 
      
    </label> 
    <label class="left">
      Link:  {{ message.body}} 
    </label>
    
    <ion-button (click)="delete(message.key)">delete</ion-button>
  </ion-card>
  <button class="deleteAll"(click)="DeleteAll()">Delete All</button>
</ion-content>
