<ion-header>
  <ion-toolbar color="tertiary">    
     <ion-title>user</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  <table class="table"  id="myTable">
    <thead>
      <tr  class="header">
         
        <th scope="col">profile Photo</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">point</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users;index as i">
      <tr>
        
         
          <td style="width: 20%">
          <img src={{user.photoURL}} alt="">
          </td>
        <td style="width: 20%">{{user.displayName}}</td>
        <td style="width: 20%">{{user.email}}</td>
        <td style="width: 20%">{{user.point}}</td>
        <td style="width: 20%"> <button (click)= "deleteUser(usersid[i])">Delete</button> 
          <button class="updateBtn"(click)= "updateUser(user.uid)">Update</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  
  <table id="myTable">
    <tr class="header">
      <th style="width:60%;">Name</th>
      <th style="width:40%;">Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Berglunds snabbkop</td>
      <td>Sweden</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Koniglich Essen</td>
      <td>Germany</td>
    </tr>
  </table> -->
  
    
</ion-content>
